---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PostsList from "../components/PostsList.astro";

// import '../styles/index.css';

const posts = await getCollection("blog");
---

<Layout seo={{ title: "Welcome to Astro." }}>
  <div class="h-64 flex flex-col justify-center items-start">
    <h1 class="text-heading-1">Hello, I'm Sakura Stellaris.</h1>
    <p class="mt-2">
      I'm a fullstack engineer from Japan blending code like cosmic art while
      strumming guitars, dancing on piano keys, and serenading the universe with
      her violin. Join her cosmic journey, balancing tech brilliance and musical
      magic! 🚀🎸🌌
    </p>
  </div>
  <div class="flex flex-col">
    <h2 class="text-2xl font-semibold">Recent blog posts:</h2>
    <PostsList posts={posts.slice(0, 3)} />
  </div>
</Layout>
